 /*
        * {
            Font family: 'Microsoft YaHei', sans serif;
            box-sizing: border-box;
        }
*/
.background {
    -fx-background-color: #1d1d1d;
}
        .body {
            -fx-display: flex;
            -fx-align-items: center;
            -fx-justify-content: center;
            -fx-min-height: 100vh;
            -fx-background: #050801;
        }
 
        .button {
            -fx-position: relative;
            -fx-display: inline-block;
           /* -fx-padding: 25px 30px;
            -fx-margin: 0 50px; */
            -fx-color: #03e9f4;
            -fx-text-decoration: none;
            -fx-overflow: hidden;
            -fx-transition: 0.5;
            -fx-letter-spacing: 4px;
            -fx-webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
        }
 
        .button:nth-child(1) {
            -fx-filter: hue-rotate(290deg);
        }
 
        .button:nth-child(3) {
            -fx-filter: hue-rotate(110deg);
        }
 
        .button:hover {
            -fx-background: #03e9f4;
            -fx-color: #050801;
            -fx-box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
        }
 
        .button:span {
            -fx-position: absolute;
            -fx-display: block;
        }
 
        .button:span:nth-child(1) {
            -fx-top: 0;
            -fx-left: -100%;
            -fx-width: 100%;
            -fx-height: 2px;
            -fx-background: linear-gradient(90deg, transparent, #03e9f4);
            -fx-animation: animate1 1s linear infinite;
        }
 
        @keyframes animate1 {
            0% {
                -fx-left: -100%;
            }
 
            50%,
            100% {
                -fx-left: 100%;
            }
        }
 
        .button span:nth-child(2) {
            -fx-top: 0;
            -fx-right: 0;
            -fx-height: 100%;
            -fx-width: 2px;
            -fx-background: linear-gradient(92deg, transparent, #03e9f4);
            -fx-animation: animate2 1s linear infinite;
            -fx-animation-delay: 0.25s;
        }
 
        @keyframes animate2 {
            0% {
                -fx-top: -100%;
            }
 
            50%,
            100% {
                -fx-top: 100%;
            }
        }
 
        .button span:nth-child(3) {
            -fx-bottom: 0;
            -fx-right: -100%;
            -fx-height: 2px;
            -fx-width: 100%;
            -fx-background: linear-gradient(180deg, transparent, #03e9f4);
            -fx-animation: animate3 1s linear infinite;
            -fx-animation-delay: 0.5s;
        }
 
        @keyframes animate3 {
            0% {
                -fx-right: -100%;
            }
 
            50%,
            100% {
                -fx-right: 100%;
            }
        }
 
        .button:span:nth-child(4) {
            -fx-bottom: -100%;
            -fx-left: 0;
            -fx-width: 2px;
            -fx-height: 100%;
            -fx-background: linear-gradient(270deg, transparent, #03e9f4);
            -fx-animation: animate4 1s linear infinite;
            -fx-animation-delay: 0.75s;
        }
 
        @keyframes animate4 {
            0% {
                bottom: -100%;
            }
 
            50%,
            100% {
                bottom: 100%;
            }
        }